<div class='wrapper'></div>

<div class='form-wrapper' id='url-form'>
  <h2> Welcome to Condensaur!</h2>
  <%= render 'url_form', url: @url %>
  <p> Enter in a url you want to condense! </p>
</div>

<div id='image'>
  <%= image_tag("/dinosaur.png") %>
</div>
